/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {
 body{min-width:768px;}

}


@media only screen and (max-width: 850px) {
	#content{padding: 140px 0 0;}
	.sitename{padding: 79px 0 10px;}

}


@media only screen and (max-width: 768px) {
 body{min-width:420px;}
 	header .col-xs-12{margin: 0;}

 	.sitename{
 		padding: 90px 0 10px;
 	}

 	/*--  TAB  --*/
 		.tab_block .resp-tabs-container{
 			padding: 0;
 		}
 			h2.resp-accordion{
 				font-size: 21px;
 				text-transform: uppercase;
 				background-color: #BCDFE7;
 			}
 			h2.resp-accordion:first-child{
 				border-bottom: 1px solid #73868E;
 			}
 			h2.resp-tab-active{
 				color: #FFF;
 				background-color: #324e5a;
 			}
 			.resp-tab-content{
 				padding: 27px; 			}
 			.resp-tab-content:not(:last-child){
 				border-bottom: 1px solid #73868e;
 			}
}
@media only screen and (max-width: 767px) {
	#content{padding: 140px 0 0;}

	.news{padding: 25px 0 0;}
	.col_2{
		width: 100%;
		float: none;
	}
	.tab_content .btn_red{
		margin-right: 0;
	}

	.login_box{
		padding: 19px 0;
		margin-bottom: 10px;
		margin-right: 0;
	}
	.logo{margin-bottom: 10px;}

	.logo a{
		margin-left: 0;
	}

	footer{
		padding: 30px 10px 7px;
	}
}


@media only screen and (max-width: 745px) {
	.graph_title{
		text-align: center;
		display: block;
	}
	.news .list3{
		padding-bottom: 15px;
		margin-bottom: -20px;
		/*text-align: left;*/
	}
		.schedule_block{
			padding: 0 15px;
		}
}


@media only screen and (max-width: 479px) {
 body{min-width:320px;}
	
	#content{padding: 155px 0 0;}

	.login_link,
	.user_name{
		font-size: 15px;
	}

	.logo a{
		width: 150px;
		background-position: 0 50%;
		-webkit-background-size: 100%;
		     -o-background-size: 100%;
		        background-size: 100%;
	}
	.tab_content .btn_red{
		width: 100%;
		float: none;
		display: block;
	}
	.resp-tab-content{
		padding: 15px 10px;
	}

	.title1.sitename {
		display: none;
	}
	
}

@media only screen and (max-width: 375px) {
	
	.logo a{
		width: 100px;
		height: 35px;
		margin-top: 20px;
	}
		.logo a img{
			width: 100%;
			height: auto;
		}

	.login_box{margin-bottom: 0;}
	.sitename{padding: 75px 0 10px;}

	#content{padding: 100px 0 0;}
}


@media only screen and (max-width: 320px) {
	
	.logo a{
		width: 100px;
		margin-top: 22px;
	}
}