@import "../css/reset.css";
@import "../css/bootstrap_grid.css";
@import "../css/flexslider.css";
@import "../css/easy-responsive-tabs.css";
@import "../fonts/ProximaNovaCond-Regular/font.css";
@import "../fonts/ProximaNovaCond-Semibold/font.css";
@import "../fonts/ProximaNovaCond-Bold/font.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'ProximaNovaCond-Regular', Arial, sans-serif;
  font-size: 17px;
  color: #73868e;
  background: url(../images/body_bg.png) 50% 0 repeat #cdcdcd;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
  a {
    color: #73868e;
    outline: none;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    text-decoration: none;
  }

  .btn {
    display:inline-block;
    padding: 11px 20px;
    margin: 0 0 0;
    font-size: 19px;
    line-height: 1.1;
    color: #324E5A;
   }
  .btn:hover {
    background: #bcdfe7;
  }

  .btn_red {
    color: #fff;
    width: 290px;
    font-size: 19px;
    padding: 9.5px 12px 9.5px;
    text-transform: uppercase;
    background-color: #9e090d;
    font-family: 'ProximaNovaCond-Semibold';
    font-weight: 600;
  }
  .btn_red:hover {
    background-color: #8E060A;
  }

/*----------------------> Basic Classes <------------------*/
  .reg {text-transform: uppercase;}
  .f_left {float: left;}
  .f_right {float: right;}
  .al_left {text-align: left;}
  .al_right {text-align: right;}
  .al_center {text-align: center;}

  .it {font-style: italic;}
  .let {letter-spacing: -1px;}

  .full_w {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

  .m_b_zero{ margin-bottom:0 !important;}
  .m_l_zero{ margin-left:0 !important;}
  .p_b_zero{ padding-bottom:0 !important;}
  .p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
  .p_abs{position: absolute;}
  .p_rel{position: relative;}
  .p_fix{position: fixed;}
  .clear {clear:both;width:100%;line-height:0;font-size:0;}
  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .wrapper {overflow:hidden}
  .f_elem>*:first-child{margin-top: 0 !important;}
  .f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

  .bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

  .d_block{ display:block;}
  .d_ib{ display:inline-block;}
  .d_none{ display:none;}
  .d_tc{ display:table-cell;}
  .d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/
  [data-bg="grey"]{
    background-color: #F1F1F1;
  }
  [data-bg="grey_light"]{
    background-color: #d5d5d5;
  }
  [data-bg="white"]{
    background-color: #FFF;
  }
  [data-bg="blue"]{
    background-color: #bcdfe7;
  }
  [data-bg="blue_dark"]{
    background-color: #324e5a;
  }
  [data-bg="red"]{
    background-color: #8e060a;
  }

  [data-color="grey_dark"]{
    color: #324E5A;
  }
  [data-color="blue"]{
    color: #9BC9D4;
  }
  [data-color="white"]{
    color: #fff;
  }
  [data-color="blue_dark"]{
    color: #324e5a;
  }

/*======================> Header <======================*/

  header {
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 25;
  }
    .logo{
      float: left;
      display: block;
    }
      .logo a{
        display:block;
        margin-top: 2px;
        width: 150px;
        height: 77px;
        margin-left: 24px;
      }

    .login_box{
      /*width: 220px;*/
      float: right;
      padding: 26px 0 24px;
      margin-right: 30px;
    }
      .user{
        float: left;
        border-right: 3px solid #9D0B0E;
      }
        .user .img_box{
          display: block;
          float: left;
          width: 28px;
          height: 28px;
        }
          .user .img_box img{
            max-width: 100%;
            height: auto;
          }
        .user_name{
          color: #324e5a;
          font-size: 17px;
          margin-left: 7px;
          line-height: 29px;
          padding-right: 10px;
        }
        .user_name:hover,
        .login_link:hover{
          color: #000;
        }

      .login_link{
        float: right;
        /*width: 80px;*/
        padding-left: 10px;
        color: #324e5a;
        font-size: 17px;
        line-height: 29px;
      }

    .sitename{
      padding: 27px 0;
      letter-spacing: .5px;
    }


/*=====================> Content ========================*/
  #content {padding: 106px 0px 0px 0px; min-height: 500px; margin-bottom: 25px;}
  .cont_pad{padding:0 0 0 0 !important;}


/*-------  TABS  -------*/
/*   .tab_block{
  } */
    .tab_item{
      color: #718e97;
      font-size: 21px;
      line-height: 1;
      letter-spacing: .5px;
      text-align: center;
      text-transform: uppercase;
      font-family: 'ProximaNovaCond-Semibold';
      font-weight: 600;
      padding: 17px 10px 13px;
      width: calc(50% - .5px);
      background-color: #bcdfe7;
      -webkit-transition: all .7s ease;
      -moz-transition: all .7s ease;
      -o-transition: all .7s ease;
      transition: all .7s ease;
    }
    .tab_item.resp-tab-active,
    .tab_item:hover{
      color: #FFF;
      background-color: #324E5A;
    }

    .tab_block .resp-tabs-container{
      padding: 25px 30px;
      background-color: #FFF;
    }
      .tab_content{

      }
        .tab_content .btn_red{
          float: right;
          margin-right: 150px;
          text-align: center;
        }
        .tab_content .btn:not(:last-child){
          margin-top: 10px;
        }

        .tab_content .btn:not(:last-child){
            margin-top: 10px;
        }

/*-------  TABS END  -------*/


/*-------  NEWS  -------*/

  .news{
    padding: 25px 16px 10px 0;
  }
    .graph_title{
      padding: 9px 25px 6px 30px;
      letter-spacing: .3px;
    }

    .schedule_block{
      padding-left: 30px;
    }
      .col_2{
        float: left;
        width: 50%;
      }

      .news .list3{
        padding-bottom: 40px;
      }

/*-------  NEWS END  -------*/


/*=====================> Paragraphs ========================*/

  p {margin-bottom:18px}
  .mb1{ margin-bottom:1px;}
  .mb2{ margin-bottom:2px;}
  .mb3{ margin-bottom:3px;}
  .mb4{ margin-bottom:4px;}
  .mb5{ margin-bottom:5px;}
  .mb6{ margin-bottom:6px;}
  .mb7{ margin-bottom:7px;}
  .mb8{ margin-bottom:8px;}
  .mb9{ margin-bottom:9px;}
  .mb10{ margin-bottom:10px;}
  .mb11{ margin-bottom:11px;}
  .mb12{ margin-bottom:12px;}
  .mb13{ margin-bottom:13px;}
  .mb14{ margin-bottom:14px;}
  .mb15{ margin-bottom:15px;}
  .mb16{ margin-bottom:16px;}
  .mb17{ margin-bottom:17px;}
  .mb18{ margin-bottom:18px;}
  .mb19{ margin-bottom:19px;}
  .mb20{ margin-bottom:20px;}
  .mb21{ margin-bottom:21px;}
  .mb22{ margin-bottom:22px;}
  .mb23{ margin-bottom:23px;}
  .mb24{ margin-bottom:24px;}
  .mb25{ margin-bottom:25px;}
  .mb26{ margin-bottom:26px;}
  .mb27{ margin-bottom:27px;}
  .mb28{ margin-bottom:28px;}
  .mb29{ margin-bottom:29px;}
  .mb30{ margin-bottom:30px;}
  .mb31{ margin-bottom:31px;}
  .mb32{ margin-bottom:32px;}
  .mb33{ margin-bottom:33px;}
  .mb34{ margin-bottom:34px;}
  .mb35{ margin-bottom:35px;}
  .mb36{ margin-bottom:36px;}
  .mb37{ margin-bottom:37px;}
  .mb38{ margin-bottom:38px;}
  .mb39{ margin-bottom:39px;}
  .mb40{ margin-bottom:40px;}
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb58{ margin-bottom:58px;}
  .mb62{ margin-bottom:62px;}
  .mb75{ margin-bottom: 75px;}


/*=====================> Lists ========================*/
  .list1{
    margin-bottom: 22px;
  }
    .list1 li{
      line-height: 1.1;
      margin-bottom: 6px;
    }
      .list1 a{
        color: #73868E;
      }
      .list1 a:hover{
        color: #9BC9D4;
        text-decoration: none;
      }


  .list2{
    margin-bottom: 25px;
  }
    .list2 li{
      margin-bottom: 2px;
    }
      .list2 a{
        color: #73868E;
        font-size: 16px;
      }
      .list2 a:hover{
        color: #324E5A;
      }
        .list2 span{
          width: 45px;
          display: inline-block;
        }


  .list3{
    padding: 20px 15px 20px 15px;
  }
    .list3 li{
      margin-bottom: 10px;
    }
      .list3 a{
        font-size: 16px;
        color: #324E5A;
      }
      .list3 a:hover{
        color: #000;
      }

/*=====================> Titles ========================*/
  h2,h3,h4{
    font-weight:normal;
  }
  .title1{
    font-size: 21px;
    line-height: 1.2;
  }

  .title2{
    font-size: 19px;
    line-height: 1.2;
    letter-spacing: .5px;
  }


/*================================>> FONTS  <<========================================*/
  .fw_reg{
    font-weight: normal;
  }
  .fw_sbold{
    font-family: 'ProximaNovaCond-Semibold';
    font-weight: normal;
  }
  .fw_bold{
    font-weight: normal;
    font-family: 'ProximaNovaCond-Bold';
  }
  .fw_exbold{
    /*font-family: 'ProximaNovaCond-Black';*/
  }



/*================================>> hovers <<========================================*/
  a{
      -webkit-transition: all .7s ease;
      -moz-transition: all .7s ease;
      -o-transition: all .7s ease;
      transition: all .7s ease;
  }
  a:hover{
      -webkit-transition: all .1s ease;
      -moz-transition: all .1s ease;
      -o-transition: all .1s ease;
      transition: all .1s ease;
  }



/*================================>> Contact Form <<========================================*/
  #contact-form {
    padding:0px 0 0 0;
    position: relative;
  }
  #contact-form .success
  {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 99;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    padding: 20px 0;
  }
  .txt_field{
    margin:0;
    font-size:12px;
    border:1px solid #e7e7e7;
    color:#969696;
    padding:7px 10px;
    outline:none;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    background:#fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .msg_field{
    overflow:auto;
    width:433px;
    height:172px;
    resize:none;
    float:left;
    margin: 0 0 0 0;
  }

  #contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
  #contact-form .error, #contact-form .empty {
    text-align:left;
    color:red;
    font-size:11px;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  #contact-form .buttons2 {
    overflow:hidden;
    text-align:right;
    position:relative;
    clear:both;
    padding-top:25px;
  }
  #contact-form .buttons2 a {
  	cursor:pointer;
  	margin-top:0;
  	text-align:center;
  }
  #contact-form span{
    display:block;
    margin: 0px 0 0 5px;
   }

  .map_wrapper{
    overflow:hidden;
    display:inline-block;
    margin-bottom:26px;
  }


/*================================>> Contacts Info <<========================================*/
  #map_canvas {
     width:411px;
     height:237px;
  }
  .adress{}
  .adress span{
    display:inline-block;
  }
  .adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
  footer {
    padding: 31px 10px 35px;
    background-color: #324E5A;
  }

/*============================= Easy responsive tabs ============================*/


  .resp-tabs-list li {

  }


  h2.resp-accordion {
      display: none;
  }

  .resp-tab-content {
      display: none;
  }

  .resp-content-active, .resp-accordion-active {
      display: block;
  }

  .resp-easy-accordion  h2.resp-accordion {
          display: block;
  }

  .resp-tab-content-active {
      display: block;
  }


  @media only screen and (max-width: 768px) {
      ul.resp-tabs-list {
          display: none;
      }

      h2.resp-accordion {
          display: block;
      }


      .resp-accordion-closed {
          display:none !important;
      }

  }


/*============================ Arctic modal =============================*/
  .arcticmodal-overlay,
  .arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
  .arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
  *:first-child+html .arcticmodal-container { height: 100% }
  .arcticmodal-container_i { height: 100%; margin: 0 auto; }
  .arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
  .arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
  .arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
  /*  Core Owl Carousel v1.3.2 CSS File  */

  /* clearfix */
  .owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  /* display none until init */
  .owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
  }
  .owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
  }

  .owl-carousel .owl-item{
    float: left;
  }
  .owl-controls .owl-page,
  .owl-controls .owl-buttons div{
    cursor: pointer;
  }
  .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  /* mouse grab icon */
  .grabbing {
      cursor:url(grabbing.png) 8 8, move;
  }

  /* fix */
  .owl-carousel  .owl-wrapper,
  .owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
  }

