@font-face {
  font-family: 'ProximaNovaCond-Regular';
  src: url('ProximaNovaCond-Regular.eot');
  src: url('ProximaNovaCond-Regular.woff2') format('woff2'),
       url('ProximaNovaCond-Regular.woff') format('woff'),
       url('ProximaNovaCond-Regular.ttf') format('truetype'),
       url('ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg'),
       url('ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

