@font-face {
  font-family: 'ProximaNovaCond-Light';
  src: url('ProximaNovaCond-Light.eot');
  src: url('ProximaNovaCond-Light.woff2') format('woff2'),
       url('ProximaNovaCond-Light.woff') format('woff'),
       url('ProximaNovaCond-Light.ttf') format('truetype'),
       url('ProximaNovaCond-Light.svg#ProximaNovaCond-Light') format('svg'),
       url('ProximaNovaCond-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

